
@{
    ViewBag.Title = "VehicleTypeUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-file-text-o"></i>Araç Tipi Güncelle</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Admin/Index/">Anasayfa</a></li>
            <li><i class="icon_document_alt"></i><a href="/Admin/VehicleType/">Araç Tipi</a></li>
            <li><i class="fa fa-file-text-o"></i><a href="/Admin/VehicleTypeUpdate/">Araç Tipi Güncelleme</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Araç Tipi Güncelle
            </header>
            <div class="panel-body">
                <form class="form-horizontal " method="get">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Marka</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kapasite (KG)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>  <div class="form-group">
                        <label class="col-sm-2 control-label">Kapasite (KG)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

